<h1><%= @user.title.split(" ").each { |t| t.capitalize }.join(' ') %></h1>

<nav id = 'edit_bar'>
	<li><%= link_to 'New Page', '#' %></li>
	<li><%= link_to 'Delete Page', '#' %></li>
	<li><%= link_to 'Choose Home Page', '#' %></li>
</nav>