
<h1>About</h1>
<p>Maylogs is a website for making blogs and personal websites. Users can make an account, add pages to their site, and make blog posts about their subject matter. What makes Maylogs unique is that it enables users to use HTML and CSS diretly in custom pages. </p>

<p>Maylogs was built for May Project, a required independent study at the developer's school. Check out <a style = 'color:blue' href = 'http://maylogs.herokuapp.com/CulinaryCoding'>Culinary Coding</a> for more details.