

<h1>Reference</h1>

<p>You're able to customize your blogs with a few keywords. Custom Pages are more flexible, but have less built-in feautures.</p>

<h3>Blogs</h3>
<p>Blog pages are designed to provide a scrolling history of anything you post. You cannot include any html tags or css, but you can make things bold, italic, and link to images. <p>
	
	<p>Bold: ((bHello Thereb)) -> <b>Hello There</b></p>
	<p>Italic: ((iHow are you?i)) -> <i>How are you?</i></p>
	<p>Image: //image http://i.imgur.com/h86KfLF.jpg -> <br /><br /> <img src = 'http://i.imgur.com/h86KfLF.jpg' alt = 'image' /></p><br />
	
	<p>If you wish to upload images, <a style = 'color:blue' href = 'http://imgur.com'>imgur.com</a> is recommended.</p>
	
<h3>Custom Pages</h3>


<p>Custom Pages are much more flexible. You're able to put HTML markup directly into the page. For example,<%= "<h3>Fantastic Heading</h3>" %> would show as " <span style = 'font-weight:bold;font-size:20px'>Fantastic Heading</span>. "</p>

<p>You're completely able to use inline CSS at will as well as most HTML tags. However, you're not able to use javascript.</p>